.topBar {
  height: 60px;
  background: var(--p-surface-0);
  border-bottom: 1px solid var(--p-content-border-color);
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
    }

    .version {
      display: flex;
      justify-content: end;
      width: 100%;
      font-size: 0.65rem;
      color: var(--p-surface-300);
    }

  }
}
